<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="css/style.css" />
		<link
			href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,500&display=swap"
			rel="stylesheet"
		/>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
		/>
		<title>CUPUS DATING</title>
	</head>
	<body>
		<!-- now we create a top navbar-->
		<div class="top">
			<div class="header">
				<div class="avatar">
				<!-- This image to be replaced by a django template tag querying the user's profile picture -->
				<img src="https://randomuser.me/api/portraits/women/64.jpg" alt="" class="round-image"/>

			
			<!-- This name to be replaced by a django template tag querying the user's name -->
			<div class="title">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Hey Mary Magdaline</div>
			</div>
			</div>
			<div class="details">
				<h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Meet your crush &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="index.html" id="pages">Home</a>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                
				<button id="toggleButton">Hide/Show Navbar</button>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				search by
				</h1>
			</div>
		</div>
		</div>
			</div>
		</div>
		<div class="container">
			<div class="side">

                <div id="navbar">
				<div class="menu">
					<ul>
						<li class="active"><a href="#" id="match">Matches</a></li>
						<li class="active"> <a href="#" id="messo">Messages</a></li>
					</ul>
				
                </div>
				<div id="matches">
					<!-- Add your Matches content here -->
					<div class="content">
						<!-- Your Matches content goes here -->
					</div>
				</div>
				<a href="message.html" id="messo">
				<div id="messages">
					<div class="avatar">
						<img src="https://randomuser.me/api/portraits/women/38.jpg" alt="" />
					</div>
					<div id="message">
						<div class="user">Janet</div>
						<div class="text">Hello Beautiful nice to meet you </div>
					</div>
				</div>
				</a>
				<div id="messages">
					<div class="avatar">
						<img src="https://randomuser.me/api/portraits/women/39.jpg" alt="" />
					</div>
					<div id="message">
						<div class="user">Irene</div>
						<div class="text">Hey Handsome care to mingle.</div>
					</div>
				</div>
				<div id="messages">
					<div class="avatar">
						<img src="https://randomuser.me/api/portraits/women/40.jpg" alt="" />
					</div>
					<div id="message">
						<div class="user">Susan</div>
						<div class="text">Hey There I'm Caroline we just got matched</div>
					</div>
				</div>
				<div id="messages">
					<div class="avatar">
						<img src="https://randomuser.me/api/portraits/women/41.jpg" alt="" />
					</div>
					<div id="message">
						<div class="user">Jane</div>
						<div class="text">Hey There what a coincidence we meet</div>
					</div>
				</div>
				<div id="messages">
					<div class="avatar">
						<img src="https://randomuser.me/api/portraits/women/42.jpg" alt="" />
					</div>
					<div id="message">
						<div class="user">Lucy</div>
						<div class="text">Hey There I'm Caroline we just got matched</div>
					</div>
				</div>
			</div>
            </div>
            <!--end of the side nav bar-->

            <!--actual body now begins-->
            <div class="main">
			<div class="content">
				<div class="card">
					<div class="user">
						<img
							class="user"
							src="https://images.unsplash.com/photo-1532910404247-7ee9488d7292?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=375&q=80"
							alt=""
						/>
						<div class="profile">
							<div class="name">Rafaela <span>20</span></div>
							<div class="local">
								<i class="fas fa-map-marker-alt"></i>
								<span>a 2 kilometers, Thika</span>
							</div>
						</div>
					</div>
				</div>
				<div class="buttons">
					<div class="no">
						<i class="fas fa-times"></i>
					</div>
					<div class="star">
						<i class="fas fa-star fa"></i>
					</div>
					<div class="heart">
						<i class="fas fa-heart"></i>
					</div>
				</div>
			</div>
            <div class="content">
				<div class="card">
					<div class="user">
						<img
							class="user"
							src="https://images.unsplash.com/photo-1532910404247-7ee9488d7292?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=375&q=80"
							alt=""
						/>
						<div class="profile">
							<div class="name">Rafaela <span>20</span></div>
							<div class="local">
								<i class="fas fa-map-marker-alt"></i>
								<span>a 20 quilômetros daqui</span>
							</div>
						</div>
					</div>
				</div>
				<div class="buttons">
					<div class="no">
						<i class="fas fa-times"></i>
					</div>
					<div class="star">
						<i class="fas fa-star fa"></i>
					</div>
					<div class="heart">
						<i class="fas fa-heart"></i>
					</div>
				</div>
			</div>
            <div class="content">
				<div class="card">
					<div class="user">
						<img
							class="user"
							src="https://images.unsplash.com/photo-1532910404247-7ee9488d7292?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=375&q=80"
							alt=""
						/>
						<div class="profile">
							<div class="name">Rafaela <span>20</span></div>
							<div class="local">
								<i class="fas fa-map-marker-alt"></i>
								<span>a 20 quilômetros daqui</span>
							</div>
						</div>
					</div>
				</div>
				<div class="buttons">
					<div class="no">
						<i class="fas fa-times"></i>
					</div>
					<div class="star">
						<i class="fas fa-star fa"></i>
					</div>
					<div class="heart">
						<i class="fas fa-heart"></i>
					</div>
				</div>
			</div>
            <div class="content">
				<div class="card">
					<div class="user">
						<img
							class="user"
							src="https://images.unsplash.com/photo-1532910404247-7ee9488d7292?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=375&q=80"
							alt=""
						/>
						<div class="profile">
							<div class="name">Rafaela <span>20</span></div>
							<div class="local">
								<i class="fas fa-map-marker-alt"></i>
								<span>a 20 quilômetros daqui</span>
							</div>
						</div>
					</div>
				</div>
				<div class="buttons">
					<div class="no">
						<i class="fas fa-times"></i>
					</div>
					<div class="star">
						<i class="fas fa-star fa"></i>
					</div>
					<div class="heart">
						<i class="fas fa-heart"></i>
					</div>
				</div>
			</div>
            <div class="content">
				<div class="card">
					<div class="user">
						<img
							class="user"
							src="https://images.unsplash.com/photo-1532910404247-7ee9488d7292?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=375&q=80"
							alt=""
						/>
						<div class="profile">
							<div class="name">Rafaela <span>20</span></div>
							<div class="local">
								<i class="fas fa-map-marker-alt"></i>
								<span>a 20 quilômetros daqui</span>
							</div>
						</div>
					</div>
				</div>
				<div class="buttons">
					<div class="no">
						<i class="fas fa-times"></i>
					</div>
					<div class="star">
						<i class="fas fa-star fa"></i>
					</div>
					<div class="heart">
						<i class="fas fa-heart"></i>
					</div>
				</div>
			</div>
            <div class="content">
				<div class="card">
					<div class="user">
						<img
							class="user"
							src="https://images.unsplash.com/photo-1532910404247-7ee9488d7292?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=375&q=80"
							alt=""
						/>
						<div class="profile">
							<div class="name">Rafaela <span>20</span></div>
							<div class="local">
								<i class="fas fa-map-marker-alt"></i>
								<span>a 20 quilômetros daqui</span>
							</div>
						</div>
					</div>
				</div>
				<div class="buttons">
					<div class="no">
						<i class="fas fa-times"></i>
					</div>
					<div class="star">
						<i class="fas fa-star fa"></i>
					</div>
					<div class="heart">
						<i class="fas fa-heart"></i>
					</div>
				</div>
			</div>
            <div class="content">
				<div class="card">
					<div class="user">
						<img
							class="user"
							src="https://images.unsplash.com/photo-1532910404247-7ee9488d7292?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=375&q=80"
							alt=""
						/>
						<div class="profile">
							<div class="name">Rafaela <span>20</span></div>
							<div class="local">
								<i class="fas fa-map-marker-alt"></i>
								<span>a 20 quilômetros daqui</span>
							</div>
						</div>
					</div>
				</div>
				<div class="buttons">
					<div class="no">
						<i class="fas fa-times"></i>
					</div>
					<div class="star">
						<i class="fas fa-star fa"></i>
					</div>
					<div class="heart">
						<i class="fas fa-heart"></i>
					</div>
				</div>
			</div>
            <div class="content">
				<div class="card">
					<div class="user">
						<img
							class="user"
							src="https://images.unsplash.com/photo-1532910404247-7ee9488d7292?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=375&q=80"
							alt=""
						/>
						<div class="profile">
							<div class="name">Rafaela <span>20</span></div>
							<div class="local">
								<i class="fas fa-map-marker-alt"></i>
								<span>a 20 quilômetros daqui</span>
							</div>
						</div>
					</div>
				</div>
				<div class="buttons">
					<div class="no">
						<i class="fas fa-times"></i>
					</div>
					<div class="star">
						<i class="fas fa-star fa"></i>
					</div>
					<div class="heart">
						<i class="fas fa-heart"></i>
					</div>
				</div>
			</div>
            <div class="content">
				<div class="card">
					<div class="user">
						<img
							class="user"
							src="https://images.unsplash.com/photo-1532910404247-7ee9488d7292?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=375&q=80"
							alt=""
						/>
						<div class="profile">
							<div class="name">Rafaela <span>20</span></div>
							<div class="local">
								<i class="fas fa-map-marker-alt"></i>
								<span>a 20 quilômetros daqui</span>
							</div>
						</div>
					</div>
				</div>
				<div class="buttons">
					<div class="no">
						<i class="fas fa-times"></i>
					</div>
					<div class="star">
						<i class="fas fa-star fa"></i>
					</div>
					<div class="heart">
						<i class="fas fa-heart"></i>
					</div>
				</div>
			</div>
            <div class="content">
				<div class="card">
					<div class="user">
						<img
							class="user"
							src="https://images.unsplash.com/photo-1532910404247-7ee9488d7292?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=375&q=80"
							alt=""
						/>
						<div class="profile">
							<div class="name">Rafaela <span>20</span></div>
							<div class="local">
								<i class="fas fa-map-marker-alt"></i>
								<span>a 20 quilômetros daqui</span>
							</div>
						</div>
					</div>
				</div>
				<div class="buttons">
					<div class="no">
						<i class="fas fa-times"></i>
					</div>
					<div class="star">
						<i class="fas fa-star fa"></i>
					</div>
					<div class="heart">
						<i class="fas fa-heart"></i>
					</div>
				</div>
			</div>
            			<div class="content">
				<div class="card">
					<div class="user">
						<img
							class="user"
							src="https://images.unsplash.com/photo-1532910404247-7ee9488d7292?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=375&q=80"
							alt=""
						/>
						<div class="profile">
							<div class="name">Rafaela <span>20</span></div>
							<div class="local">
								<i class="fas fa-map-marker-alt"></i>
								<span>a 20 quilômetros daqui</span>
							</div>
						</div>
					</div>
				</div>
				<div class="buttons">
					<div class="no">
						<i class="fas fa-times"></i>
					</div>
					<div class="star">
						<i class="fas fa-star fa"></i>
					</div>
					<div class="heart">
						<i class="fas fa-heart"></i>
					</div>
				</div>
			</div>
		</div>
        </div>
        <script src="script.js"></script>
	</body>
</html>